---
import { t, setDefaultNamespace } from "i18next";
import { Icon } from "astro-icon/components";

setDefaultNamespace("layout");
---

<footer>
  <div
    class="flex gap-2 items-center justify-center py-6 border-t-[0.5px] border-gray-400"
  >
    <p>{t("footer.credits-1")}</p>
    <Icon name="astro" size={16} />
    <p>{t("footer.credits-2")}</p>
    <Icon name="heart" size={16} />
    <p>{t("footer.credits-3")}</p>
  </div>
</footer>
