---
import { changeLanguage, t, setDefaultNamespace } from "i18next";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";

changeLanguage("es");

setDefaultNamespace("home");
---

<Layout
	title={t("layout:site.title")}
	description={t("layout:site.description")}
>
	<main class="min-h-screen flex flex-col mx-6 gap-6 lg:max-w-6xl lg:mx-auto">
		<Hero />
	</main>
</Layout>
