---
import { Icon } from "astro-icon/components";
---

<div
  class="fixed -bottom-[200px] right-4 left-4 bg-gray-400 p-2 rounded-lg transition"
>
  <div class="flex gap-2 items-center justify-center">
    <div>Email copiado en el clipboard</div>
    <Icon name="copy" size={24} />
  </div>
</div>
